{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-4">Buy stocks at real-time prices!</h1>
        <p class="lead">
            C$50finance will use EIX AIP to calculate the purchase value of the transaction you want to make on the
            stock market. The application will record your transaction in the database so you can track the value of
            your portfolio in time.
        </p>
        <hr class="my-4">
        <p>Enter the number of shares you want to buy and a ticker symbol (for ex. AAPL for Apple Inc) or just the
            company name if you don't know the ticker.
        </p>
        <form id="stock form" novalidate action="/buy" method="post">
            <div class="form-row align-items-center justify-content-center">
                <div class="col-auto my-1">
                    <input
                        id="buy-ticker-symbol"
                        autocomplete="off"
                        autofocus
                        class="form-control"
                        name="symbol"
                        placeholder="Stock name"
                        type="text">
                </div>
                <div class="col-2 my-1">
                    <input
                            id="buy-number-of-shares"
                            value="1"
                            autocomplete="off"
                            autofocus class="form-control"
                            name="shares"
                            placeholder="# of Shares"
                            type="number"
                            min="1"
                    >
                </div>
                <div class="col-auto my-1">
                    <button class="btn btn-primary" type="submit">Buy</button>
                </div>
            </div>
        </form>
    </div>
    <div class="suggestions-spacer">

    </div>
    <script src="{{ url_for('static', filename='suggestions.js') }}"></script>
{% endblock %}
