{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-4">Buy stocks in the real time prices!</h1>
        <p class="lead">C$50finance will use EIX AIP to calculate purchase value of transaction you want to make on the
            stock market. Your transaction will be held in the database, so later you can track your portfolio value in
            time.</p>
        <hr class="my-4">
        <p>You can enter a ticker symbol (for ex. AAPL for Apple Inc) or just the company name if you don't know the
            ticker of the stock you want and amount of shares to buy.</p>
        <form id="stock form" novalidate action="/buy" method="post">
            <div class="form-row align-items-center justify-content-center">
                <div class="col-auto my-1">
                    <input
                            id="myInput"
                            autocomplete="off"
                            autofocus
                            class="form-control"
                            name="symbol"
                            placeholder="Stock name"
                            type="text">
                </div>
                <div class="col-3 my-1">
                    <input
                            autocomplete="off"
                            autofocus class="form-control"
                            name="shares"
                            placeholder="Shares"
                            type="number"
                            min="0"
                    >
                </div>
                <div class="col-auto my-1">
                    <button class="btn btn-primary" type="submit">Buy</button>
                </div>
            </div>
        </form>
    </div>
    <div class="suggestions-spacer">

    </div>
    <script src="{{ url_for('static', filename='suggestions.js') }}"></script>
{% endblock %}
