{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container p-5">
  <table style="width:100%" class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Shares</th>
          <th>Price</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in user_shares %}
        {% if stock['sum(transactions.shares)'] > 0 %}
        <tr>
          <td>{{stock['symbol']}}</td>
          <td>{{stock['company_name']}}</td>
          <td>{{stock['sum(transactions.shares)']}}</td>
          <td>{{stock['price_usd']}}</td>
          <td>{{stock['total_usd']}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <th scope="row">SHARES</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{value_of_all_stocks_usd}}</td>
        </tr>
        <tr>
          <th scope="row">CASH</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{balance_usd}}</td>
        </tr>
        <tr>
          <th scope="row">TOTAL</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{total_wallet_value_usd}}</td>
        </tr>
      </tbody>
  </table>
</main>
{% endblock %}
