+{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <h1>{{user_name}}, here is list of your assets:</h1>
        <table style="width:100%" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Company name</th>
                <th scope="col">Stock price</th>
                <th scope="col">TOTAL</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{iex_symbol}}</td>
                <td>{{iex_name}}</td>
                <td>{{iex_price}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div>
      {% for stock in user_stock_list %}
      <li>{{stock}}</li>
      {% endfor %}
    </div>
{% endblock %}
