{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
                <select class="form-control" name="symbol">
                    <option disabled="true" selected="" value="">Symbol</option>
                    {% for symbol in user_stocks %}
                        <option value={{ symbol }}>{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto my-1">
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares"
                       type="number">
            </div>
            <div class="col-auto my-1">
                <button class="btn btn-primary" type="submit">Sell</button>
            </div>
        </div>
    </form>
{% endblock %}
